* 
{
    padding: 0;
    margin: 0;
    font-family: Quicksand;
}

#allMeteo 
{
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 100vh;
    width: 100vw;
}

nav
{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    *
    {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

.oneCity
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

html,
body 
{
    height: 100%;
}

html 
{
    background: #eee;
}

.insideBox
{
    select
    {
        border-radius: 10vw;
        background-color: #0563af;
        font-family: Quicksand;
        color: white;
        padding: 12px;
        width: 10vw;
        border: none;
        font-size: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
    }
    
    &::before
    {
        content: "\f13a";
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 45px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
    }
    
    &:hover::before
    {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    select option
    {
        padding: 30px;
    }
  }
  

button {
	background-color:#9cbced;
	border-radius:28px;
	border:1px solid #d3d8e0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    &:hover {
        background-color:#6892b3;
    }
    &:active {
        position:relative;
        top:1px;
    }
}

.box 
{
    width: 20vw;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, 0.2);
    background: darken(#eff3f9,20%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 200px;
    min-height: 350px;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
    &:after 
    {
        content: "";
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        transform: translate3d(0, 0, 0);
    }
    .wave 
    {
        opacity: 0.3;
        position: absolute;
        top: 120%;
        left: 50%;
        background: white;
        width: 500px;
        height: 500px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 3000ms infinite linear;
        z-index: 1;
        &.-three 
        {
            animation: drift 5000ms infinite linear;
            z-index: 2 !important;
            opacity: 0.2;
        }
        
        &.-two 
        {
            animation: drift 7000ms infinite linear;
            opacity: 0.1;
            z-index: 3 !important;
        }
    }
    .weathercon 
    {
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }
    .info 
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45%;
        z-index: 4;
        .location 
        {
            text-align: center;
            font-weight: 800;
        }
        
        .date 
        {
            text-align: center;
            margin-top: 5%;
            color: lighten(grey, 10%);
            font-size: 70%;
        }
        
        .temp 
        {
            margin-top: 10%;
            text-align: center;
        }
    }
}

@keyframes drift 
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media (max-width: 600px) 
{
    .box 
    {
        width: 90vw;
        height: 80vh;
    }

    .wave 
    {
        top: 85%;
    }

    .weathercon 
    {
        font-size: 5em;
    }

    .info 
    {
        font-size: 1.5rem;
    }
}

@media (max-height: 500px) 
{
    .box 
    {
        height: 80vh;
    }

    .wave 
    {
        top: 115%;
    }
}

.element {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
  .white {fill:#FFFFFF}
  .gray {fill:#E0E0E0}
  .yellow {fill:#FFEB3B}